/* --background-dark-color: #222831; */
/* --background-light-color: #393E46; */
.cityItem{
    padding: .6rem 1rem;
    background: #393E46;
    margin-bottom: 1rem;
    color: #Fff;
    border-radius: 8px;
    text-align: start;
    width: 200px;
    cursor: pointer;
    border-left: 5px solid green;
}

.cityItem.active{
    border: 2px solid green;
}

.cityItem span{
    margin-right: 0.5rem;
}

