.input label{
    /* margin-bottom: 1rem; */
    /* background-color: red; */
    margin-bottom: .4rem;
    display: block;
}

.input input{
/* margin-bottom: 2px; */
margin-bottom: 1.5rem;
    width: 100%;
    padding: .6rem 1rem;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 1rem;
}