*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root{
    --background-dark-color: #222831;
    --background-light-color: #393E46;
    --primary-color: #F05454;
}

.cta:link, .cta:visited, button.cta{
  text-decoration: none;
  padding: 1rem 2rem;
  border: none;
  font-size: 1rem;
  color: #fff;
  outline: none;
  background: #F05454;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cta:link:hover, .cta:visited:hover, button.cta:hover{
  background: transparent;
  outline: 5px solid #F05454;
  color: #fff;
 
}

.container{
  width: 100%;
  height: 100vh;
  background: var(--background-dark-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.app{
  display: grid;
  grid-template-columns: 450px auto;
  /* color: #fff; */
}


.leaflet-container{
  height: 100%;
}
